.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    align-items: start;
    /* grid-template-rows: 1fr; */
}


.titleOfBlocks{
    font-size: large;
    font-weight: 600;
    margin: 1vh;
    text-decoration: line;
}
.info{

}