
/* INFOBLOCKS */
.wrapper {
    margin: 0 ;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr 1fr ;

    grid-auto-flow: dense ;
    align-content: start;
    justify-content: start;

    transition-property: grid-template-columns, grid-template-rows;
    transition-duration: 5.5s; 
    transition-delay: 0.1s; 
} 

@media (max-width: 1200px) {
    .wrapper {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    } 
    /* .complect__options--form{
        min-width: 70vh;
        max-width: 80%;
        margin-left: 0;
    } */
}
@media (max-width: 1024px) {
    .wrapper {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    } 
  
}

@media (max-width: 768px) {
    .wrapper {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-content: center;        
    } 
  
}

@media (max-width: 600px) {
    .wrapper {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 85%;
        grid-template-rows: auto;
        justify-content: space-between;
    } 

    .item{
        /* justify-content: center; */
        width: 100%;
    }
  
}


.item{
    align-self: start;
}