.container {
    padding: 0;
    max-width: 99%;
    padding-right: 1vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vh;
    
}

@media (max-width: 1225px) {
    .container {
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: repeat(4, 1fr);
       
    }

}

@media (max-width: 950px) {
    .container {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(6, 1fr);
       
    }
}

@media (max-width: 700px) {
    .container {
        /* padding-top: 1vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1vh; */
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .complect__title{
        padding-top: 5vh;
        display: none !important;
    }
    .form{
        padding-top: 5vh;
        max-width: 375px;
        margin: 0;
    }
}