/* Указываем box sizing */
/* @import url('./styles/darktheme.css');
@import url('./styles/header.css');
@import url('./styles/form.css');
@import url('./styles/modal.css');
@import url('./styles/od.css');

@import url('./styles/result.css');
@import url('./styles/btnStyle.css');
@import url('./styles/infoBlocks.css');

@import url('./styles/main.css');
@import url('./styles/fonts.css');
@import url('./styles/complect.css');
@import url('./styles/regionModal.css'); */


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
/* ul[class],
ol[class] {
    padding: 0;
} */

/* Убираем внешние отступы */
body,
h1,

h3,
h4,

/* ul[class],
ol[class], */
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth; 
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* ul[class],
ol[class] {
    list-style: none;
} */

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
/* a:not([class]) {
    text-decoration-skip-ink: auto;
} */

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
   
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: smooth !important;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-family: 'Source Sans Pro';
   
}
h1{
    text-align: center;
    
}



body{
    transition-property: background-color;
    transition-duration: 2.5s;
    transition-delay: 0.1s;
    background-color: var(--background);
}

html:root{
    --background: 'black';
    --backgroundDark: 'rgba(37, 40, 45, 1)';
    --backgroundLight: 'white';
    --textColorGreyP: 'rgba(69, 74, 84, 1)';
    --textColorGreyH2: 'rgba(37, 40, 45, 1)';
    --textColorBlack : 'black';
    --textColorWhite: 'white';

}
html{
    background-color: var(--background);
}